.echart-page{
    width: 100%;
    .echart-index{
        width: "50%";
        height:200px;
        border:2px solid red;
        margin:0 auto;
        .echart1{
            width:100%;
            height:100%!important;
            // height:100px;
            // height: 10px;
        }
    }
    .echart-index{
        width: "50%";
        height:200px;
        border:2px solid red;
        margin:0 auto;
        .echart1{
            width:100%;
            // height:100%!important;
        }
    }
    @media screen and (max-width:480px){
        .echart-index{
            height:500px;
            // width:100px;
        }
       }
}